/* Core styles */

body {
    font-family: sans-serif;
    margin: 0;
}

a {
    transition: all 0.3s ease-in-out;
}

.container {
    width: 1080px;
    margin: 0 auto;
}

.to-uppercase {
    text-transform: uppercase;
}

.clearfix {
    clear: both;
}

button {
    font-family: inherit;
    transition: all 0.3s ease-in-out;
}

.button {
    border: none;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100%);
    background-size: 200px auto;
    color: #ffffff;
    font-weight: 500;
    font-size: 0.87rem;
    padding: 1.26rem 2.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-position: right center   ;
}

.section-subtitle {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 0.625rem;
    color: #797979;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0.32rem;
    font-size: 2.62rem;
    font-weight: 700;
    text-transform: capitalize;
    color: #05364D;
}

/* Header section */
.main-banner {
    background-image: url(../images/main-banner.png);
    background-position: center;
    background-size: cover;
    min-height: 890px;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 3px 16px 0 rgb(0 0 0 / 10%);
    z-index: 2;
}

.main-header__logo {
    display: inline-block;
    vertical-align: middle;
}

.main-header .container {
    display: flex;
    align-items: center;
}


.main-navigation__item {
    display: inline-block;
    padding: 0.625rem;
}

.main-navigation__item a {
    text-decoration: none;
    color: #05364d;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a {
    color: #efb6df;
}


/* Main section */

.main-section {
    padding: 100px 30px;
    display: flex;
    justify-content: space-between;
}


.main-section__image {
    text-align: right;
}

.main-section__welcome {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: #797979;
}

.main-section__introduction {
    margin-top: 20px;
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #05264e;
}

.main-section__position {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
    color: #05264e;
}

.main-section__social-networks a {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-right: 16px;
    color: #8FA1AA;
}

.main-section__social-networks a:hover i {
    color: #1C44E4;
}

.main-section__button {
    margin-top: 30px;
}

/* Footer section */

#footer {
    padding: 3.17rem 0;
    background-color: #021017;
    text-align: center;
}

.footer__brand img {
    width: 6.26rem;
}

.footer__navigation-item {
    display: inline-block;
    padding: 0 10px;
}

.footer__navigation-items {
    margin-bottom: 50px;
}

.footer__navigation-items a{
    color: white;
    text-decoration: none;
}

.footer__socials {
    list-style: none;
}

.footer-social {
    display: inline-block;
    width: 45px;
    line-height: 45px;
    text-align: center;
    background: #fff;
    border-radius: 36px;
    color: #05364d;
    font-size: 16px;
    margin-right: 12px;
}

.footer__social a {
    color: #021017;
}

.footer__socials:hover i {
    color: #fff;
}

.footer-social:hover {
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100% );
}

.footer__text {
    color: #797979;
}

.footer__text a {
    color: #fff;
    text-decoration: none;
}

